---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import BannerImages from "../assets/img/home1.png";
---

<Layout activemenu="home">
  <!-- Main Banner -->
  <div class="main-banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="banner-text">
            <span>Gentara Indonesia</span>
            <h1>We Highlight Your Business to the World Market</h1>
            <p>
              GENTARA fokus dibidang infomasi dan telekomunikasi dengan
              berkolaborasi semua pihak baik sebagai penyedia informasi dan
              telekomunikasi.
            </p>

            <div class="banner-btn">
              <a href="/contact" class="default-btn">Contact Us</a>
              <a href="/about" class="default-btn active">Know More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="banner-img">
            <!--img src="assets/img/home1.png" alt="Banner Images" /-->
            <Image src={BannerImages} alt="Banner Images" loading={"eager"} />
          </div>
        </div>
        <div class="banner-shape-1">
          <img src="assets/img/shape/home1.png" alt="Banner Shape" />
        </div>
      </div>
    </div>
    <div class="home-shape">
      <div class="shape1">
        <img src="assets/img/shape/1.png" alt="shape" />
      </div>
      <div class="shape2">
        <img src="assets/img/shape/2.png" alt="shape" />
      </div>
      <div class="shape3">
        <img src="assets/img/shape/3.png" alt="shape" />
      </div>
      <div class="shape4">
        <img src="assets/img/shape/4.png" alt="shape" />
      </div>
      <div class="shape5">
        <img src="assets/img/shape/5.png" alt="shape" />
      </div>
      <div class="shape6">
        <img src="assets/img/shape/6.png" alt="shape" />
      </div>
      <div class="shape7">
        <img src="assets/img/shape/3.png" alt="shape" />
      </div>
    </div>
  </div>
  <!-- Main Banner End -->

  <!-- Brand Area -->
  <div class="brand-area brand-bg ptb-100">
    <div class="container">
      <div class="brand-slider owl-carousel owl-theme">
        <div class="brand-item">
          <a href="/">
            <img src="assets/img/brand/1.png" alt="Brand Images" />
          </a>
        </div>
        <div class="brand-item">
          <a href="/">
            <img src="assets/img/brand/2.png" alt="Brand Images" />
          </a>
        </div>
        <div class="brand-item">
          <a href="/">
            <img src="assets/img/brand/3.png" alt="Brand Images" />
          </a>
        </div>
        <div class="brand-item">
          <a href="/">
            <img src="assets/img/brand/4.png" alt="Brand Images" />
          </a>
        </div>
        <div class="brand-item">
          <a href="/">
            <img src="assets/img/brand/5.png" alt="Brand Images" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Brand Area End -->

  <!-- About Area -->
  <div class="about-area pt-100 pb-70">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-5 col-xxl-6 ps-0">
          <div class="about-img">
            <img src="assets/img/about/1.png" alt="About Images" />
          </div>
        </div>

        <div class="col-lg-7 col-xxl-6">
          <div class="about-content about-width">
            <span>About Us</span>
            <h2>We Are Helping People to Reach Their Customer Since 2005</h2>
            <p>
              It is a long established fact that a reader will be distracted by
              the readable content of a page when looking at its layout. The
              point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters.
            </p>
            <p>
              As opposed to using 'Content here, content here', making it look
              like readable English. Many desktop publishing packages and web
              page editors now use Lorem Ipsum as their default model text, and
              a search for 'lorem ipsum' will uncover many web sites still in
              their infancy. Various versions have evolved over the years.
            </p>

            <div class="about-btn">
              <a href="/about" class="default-btn">Know More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-shape">
      <img src="assets/img/shape/right-side.png" alt="Shape Images" />
    </div>
  </div>
  <!-- About Area End -->

  <!-- Service Area -->
  <section class="service-area pb-70">
    <div class="container">
      <div class="section-title text-center">
        <span>Our Service</span>
        <h2>We Provide Fastest & Unique Business Growing Service</h2>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout.
        </p>
      </div>
      <div class="row pt-45">
        <div class="col-lg-4 col-sm-6">
          <div class="service-card">
            <a href="/servicedetails">
              <img src="assets/img/service-icon/1.png" alt="Images" />
            </a>
            <a href="/servicedetails">
              <h3>SEO Optimization</h3>
            </a>
            <p>
              It is a long established fact that area der will be distracted by
              the reada ble content of a page when looking.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="service-card">
            <a href="/servicedetails">
              <img src="assets/img/service-icon/2.png" alt="Images" />
            </a>
            <a href="/servicedetails">
              <h3>Social Marketing</h3>
            </a>
            <p>
              It is a long established fact that area der will be distracted by
              the reada ble content of a page when looking.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="service-card">
            <a href="/servicedetails">
              <img src="assets/img/service-icon/3.png" alt="Images" />
            </a>
            <a href="/servicedetails">
              <h3>Content Marketing</h3>
            </a>
            <p>
              It is a long established fact that area der will be distracted by
              the reada ble content of a page when looking.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="service-card">
            <a href="/servicedetails">
              <img src="assets/img/service-icon/4.png" alt="Images" />
            </a>
            <a href="/servicedetails">
              <h3>Analytical Analysis</h3>
            </a>
            <p>
              It is a long established fact that area der will be distracted by
              the reada ble content of a page when looking.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="service-card">
            <a href="/servicedetails">
              <img src="assets/img/service-icon/5.png" alt="Images" />
            </a>
            <a href="/servicedetails">
              <h3>App Development</h3>
            </a>
            <p>
              It is a long established fact that area der will be distracted by
              the reada ble content of a page when looking.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="service-card">
            <a href="/servicedetails">
              <img src="assets/img/service-icon/6.png" alt="Images" />
            </a>
            <a href="/servicedetails">
              <h3>Web Development</h3>
            </a>
            <p>
              It is a long established fact that area der will be distracted by
              the reada ble content of a page when looking.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Service Area End -->

  <!-- Faq Area -->
  <div class="faq-area pt-100 pb-70">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-xxl-7">
          <div class="faq-img">
            <img src="assets/img/faq/1.png" alt="fAQ Images" />
          </div>
        </div>

        <div class="col-lg-6 col-xxl-5">
          <div class="faq-content">
            <span>Why Choose Us</span>
            <h2>We Are Top Ranked & Dedicated SEO Company</h2>
            <p>
              As opposed to using Content here, content here, making it look
              like readable English. Many desktop publishing packages and web
              page editors now use Lorem Ipsum as their default model text.
            </p>
          </div>

          <div class="faq-accordion">
            <ul class="accordion">
              <li class="accordion-item">
                <a class="accordion-title" href="/">
                  <i class="bx bx-chevron-down"></i>
                  Great Research Exparts
                </a>

                <div class="accordion-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="/">
                  <i class="bx bx-chevron-down"></i>
                  Great Understanding
                </a>

                <div class="accordion-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title" href="/">
                  <i class="bx bx-chevron-down"></i>
                  Top Ranking
                </a>

                <div class="accordion-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>

              <li class="accordion-item">
                <a class="accordion-title active" href="/">
                  <i class="bx bx-chevron-down"></i>
                  100% Trusted
                </a>

                <div class="accordion-content show">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipis cing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Faq Area End -->

  <!-- Counter Area -->
  <div class="counter-area pt-100 pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="single-counter">
            <i class="flaticon-success"></i>
            <h3><span class="counter">15</span></h3>
            <p>Years Experience</p>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="single-counter">
            <i class="flaticon-launch"></i>
            <h3><span class="counter">900</span>+</h3>
            <p>Projects Done</p>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="single-counter">
            <i class="flaticon-customer"></i>
            <h3><span class="counter">800</span>+</h3>
            <p>Happy Clients</p>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-md-3">
          <div class="single-counter">
            <i class="flaticon-team-building"></i>
            <h3><span class="counter">25</span>+</h3>
            <p>Expert Members</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Area End -->
</Layout>
