<footer id="footer" class="footer-area bg-footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-single">
            <div class="footer-single-content">
              <a href="index.html">
                <img
                  src="assets/img/logogentarawhite.png"
                  alt="Logo"
                  width="300px;"
                />
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum efficitur convallis arcu, id dapibus nulla tincidunt.
              </p>
            </div>

            <div class="newsletter-area">
              <form
                class="newsletter-form"
                data-toggle="validator"
                method="POST"
              >
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="EMAIL"
                  required
                  autocomplete="off"
                />
                <button class="subscribe-btn" type="submit"> Subscribe </button>
                <div id="validator-newsletter" class="form-result"></div>
              </form>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-list ml-50">
            <h3>Services</h3>
            <ul>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html">Telecomunication</a>
              </li>

              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html">Software Solution</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html">IT Services</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html"> Managed IT Services</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html">Industries </a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html"> Server Management</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html"> IOT</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html"> Training</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html"> Multimedia</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html"> Digital Campaign</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-2 col-md-6">
          <div class="footer-list">
            <h3>Quick Links</h3>
            <ul>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="index.html">Home</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="services.html">Service</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="about.html">About Us</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="testimonial.html">Testimonial</a>
              </li>

              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="contact.html">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-list ml-20">
            <h3>Contact Us</h3>
            <ul>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="https://wa.me/62811182436" target="_blank"
                  >+62 811-182-436</a
                >
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="https://wa.me/6281336333342" target="_blank"
                  >+62 813-3633-3342</a
                >
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="mailto:info@gentara.id">info@gentara.id</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                <a href="mailto:support@gentara.id">support@gentara.id</a>
              </li>
              <li>
                <i class="bx bxs-chevron-right"></i>
                Jalan Palm Hill Nomor 43 Cilendek Timur, Desa/Kelurahan Cilendek
                Timur, Kec. Bogor Barat, Kota Bogor, Provinsi Jawa Barat
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="bottom-text text-center">
            <p>Copyright All Rights Reserved Gentara. 2024</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
