---
const { activemenu } = Astro.props;
---

<!-- Start Navbar Area -->
<div class="navbar-area">
  <!-- Menu For Mobile Device -->
  <div class="mobile-nav">
    <a href="index.html" class="logo">
      <img src="assets/img/logogentara.png" class="logo-one" alt="Logo" />
      <img
        src="assets/img/logogentara.png"
        class="logo-two"
        alt="Logo"
        style="width: 180px;"
      />
    </a>
  </div>

  <!-- Menu For Desktop Device -->
  <div class="main-nav top-nav">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="index.html">
          <img
            src="assets/img/logogentara.png"
            alt="Logo"
            style="width: 180px;"
          />
        </a>
        <a class="navbar-brand-sticky" href="index.html">
          <img
            src="assets/img/logogentarawhite.png"
            alt="Logo"
            style="width: 180px;"
          />
        </a>

        <div
          class="collapse navbar-collapse mean-menu"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav m-auto">
            <li class="nav-item">
              <a href="/" class={activemenu == "home" ? "nav-link active" : ""}>
                Home
              </a>
            </li>

            <li class="nav-item">
              <a
                href="/about"
                class={activemenu == "about" ? "nav-link active" : ""}
              >
                About
              </a>
            </li>
            <li class="nav-item">
              <a href="/" class="nav-link">
                Services
                <i class="bx bxs-chevron-right"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item">
                  <a
                    href="/telecomunication"
                    class="nav-link"
                    aria-label="telecomunication"
                  >
                    Telecomunication
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="/softwaresolution"
                    class="nav-link"
                    aria-label="software solution"
                  >
                    Software Solution
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="/itservices"
                    class="nav-link"
                    aria-label="it services"
                  >
                    IT Services
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="/manageditservices"
                    class="nav-link"
                    aria-label="managed it services"
                  >
                    Managed IT Services
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="/industries"
                    class="nav-link"
                    aria-label="industries"
                  >
                    Industries
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="/servicesmanagement"
                    class="nav-link"
                    aria-label="server management"
                  >
                    Server Management
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/iot" class="nav-link" aria-label="IOT"> IOT </a>
                </li>
                <li class="nav-item">
                  <a href="/training" class="nav-link" aria-label="training">
                    Training
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="/multimedia"
                    class="nav-link"
                    aria-label="multimedia"
                  >
                    Multimedia
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="/digitalcampaign"
                    class="nav-link"
                    aria-label="digital campaign"
                  >
                    Digital Campaign
                  </a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a
                href="/testimonial"
                class={activemenu == "testimonial" ? "nav-link active" : ""}
                class="nav-link"
              >
                Testimonial
              </a>
            </li>

            <li class="nav-item">
              <a
                href="/contact"
                class={activemenu == "contact" ? "nav-link active" : ""}
                class="nav-link"
              >
                Contact Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
<!-- End Navbar Area -->
