---
import Header from "../layouts/header.astro";
import Footer from "../layouts/footer.astro";
import { Debug } from "astro:components";

const { activemenu } = Astro.props;

//console.log("string");
---

<html lang="zxx">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="assets/css/boxicons.min.css" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/fonts/flaticon.css" />
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css" />
    <!-- Theme Dark CSS -->
    <link rel="stylesheet" href="assets/css/theme-dark.css" />

    <!-- Title -->
    <title>Gentara - PT Global Ekosistem Nusantara</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/img/logogentara.png" />
  </head>

  <body>
    <Header activemenu={activemenu} />
    <slot />
    <!-- Footer Area -->
    <Footer />
    <!-- Footer Area End -->

    <!-- Jquery Min JS -->
    <script is:inline src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap Bundle Min JS -->
    <script is:inline src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- Meanmenu JS -->
    <script is:inline src="assets/js/meanmenu.min.js"></script>
    <!-- Owl Carousel JS -->
    <script is:inline src="assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JS -->
    <script is:inline src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Wow JS -->
    <script is:inline src="assets/js/wow.min.js"></script>
    <!-- Ajaxchimp Min JS -->
    <script is:inline src="assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator Min JS -->
    <script is:inline src="assets/js/form-validator.min.js"></script>
    <!-- Contact Form JS -->
    <script is:inline src="assets/js/contact-form-script.js"></script>
    <!-- Custom JS -->
    <script is:inline src="assets/js/custom.js"></script>
  </body>
</html>
